body{
    background: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.card{
    background: #1e293b;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 300px;
}

button{
    background: orange;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    background: #ff9500;
}
